.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
  
.galleryItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 2/3;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imageWrapper:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.text {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
}